body{
  background-color: #fefefe;
}
svg {
  border: 3px solid #eee;
  background-color: #fff;
  border-radius: 20px;

}

#main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 300px;
  padding-right: 15px;
  padding-left: 15px;
}

#main p {
  text-align: left;
}

.nav-wrapper{
  background-color: rgb(40, 76, 101);
}

.progress{
  max-width: 70vw;
}

footer {
  background-color: rgb(29, 45, 57) !important;
  color: #999;
}

header {
  padding: 70px;
  height: 300px;
  background-image: url('https://source.unsplash.com/1600x900/?blue,clouds,weather,water');
  /* background-image: linear-gradient(rgb(76, 117, 147), #8ec1cd); */
  background-color: rgb(103, 174, 237);
}

h1, h2, h3, h4 {
  color: #444; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 100px;
  letter-spacing: -1px; 
}

header > h1{
  color: white;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}

img.splash {
  width: 300px;
  height: 700px;
  float: left;
  margin-left: -200px;
  margin-right: 20px;
}

.intro-description{
  padding: 30px;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  height: 750px;
  width: 100%;
  min-width: 300px;
}

